.zn-animate{
  display: inline-flex;
}

.zn-animate-1 {
  width: 30px;
  height: 30px;
  background-color: green;
}


.zn-animate-2 {
  width: 50px;
  height: 50px;
  background-color: cornflowerblue;
}

.zn-animate-3 {
  width: 50px;
  height: 50px;
  background-color: gold;
}
