<main [class]="['zn-page01-container']">
  <div [class]="['zn-div-title']">
    <h1>生命周期函数，打开控制台点击按钮查看钩子函数执行顺序</h1>
  </div>
  <div [class]="['zn-div-show']">
    {{count}}
  </div>
  <div [class]="['zn-div-count']">
    <button [class]="['zn-count-add']"
            (click)="add()">
      {{countBtnText}}
    </button>
  </div>
  <div [class]="['zn-div-console']">
    <div class="zn-div-console-item"
         *ngFor="let item of consoleLogArr; index as indexIdx; first as isFirst; last as isLast">
<!--      <div class="item-index">-->
<!--        {{indexIdx}}-->
<!--      </div>-->
      <div [class]="indexIdx % 2 === 0 ? 'item-log bg-double' : 'item-log bg-single'">
        {{item}}
      </div>
    </div>
  </div>
</main>
