.zn-page01-container{
  flex: 1;
  .zn-div-title {
    border-top: 1px solid black;
    border-bottom: 2px solid black;
  }
  .zn-div-show {
    height: 50px;
    margin: 5px;
    border: 1px solid black;
    font-size: 40px;
    text-align: center;
  }
  .zn-div-count {
    display: flex;
    justify-content: center;
    .zn-count-add {
      width: 300px;
      height: 30px;
    }
  }
  .zn-div-console {
    margin: 5px auto 0;
    width: 400px;
    height: 600px;
    border: 1px solid black;
    overflow: scroll;
    line-height: 30px;
  }
}
