.zn-animate{
  display: inline-flex;
}

.zn-animate-5 {
  width: 150px;
  height: 148px;
  background-color: mediumpurple;
  display: flex;
  flex-direction: column;
}

.head-div-1 {
  margin-top: 20px;
  width: 50px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  font-weight: bolder;
  font-size: larger;
  background-color: gold;
}

.inner-div-1 {
  margin-top: 20px;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 40px;
  font-weight: bolder;
  font-size: larger;
  background-color: gold;
}
